# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Sensitive variable files

*.tfvars.json

# Override files (local use only)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore provider binaries and plugin cache
.terraform/providers/
#terraform/plugin-cache/